.receitas {
    background: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
    justify-content: center;
}

.receita {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: 25%;
    border-radius: 7px;
    overflow: hidden;
}

.receita__imagem {
    height: 180px;
}

.receita__titulo {
    font-size: 1.4375rem;
}

.receita__descricao {
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify;
}

.receita__conteudo {
    padding: 1rem;
}

.receita__botao {
    background: #8d0606;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    transition: all .3s ease-in-out;
}

.receita__botao:hover {
    cursor: pointer;
    background: #620404;
}